/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 11, 2017, 6:24:55 AM
    Author     : Tyrone
*/

/* -- page structure -- */
body{
    font-family: helvetica;
    font-size: 16px;
}
#nav{
   font-size: 18px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D5D8DC;
    border-radius: 2px;
}

li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    font-size: 20px;
    background-color: #F2F3F4;
}
#footer {
    position:fixed;
    bottom:0px;
    height: 35px;
    width:100%;
    background-color:#D5D8DC;
    color:black;
    text-align: center;
    border-radius: 2px;
}
.login{
     
    justify-content: center;
}
form{
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    width: 450px;
    border: 2px solid #D5D8DC;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin:8px 0px;
    display: inline-block;
    border: 1px solid #D5D8DC;
    box-sizing: border-box;
    font-size: 16px;
}
button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor:pointer;
    width: 25%;
    border-radius: 2px;
}
button:hover{
    opacity: 0.8;
}

